/* Center the loader */
#loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 35%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
#small-loader{
    display: none;
}
.bg-primary a {
    color: white;
}
.bg-success a {
    color: white;
}
@import url("http://fonts.googleapis.com/css?family=Ubuntu");
@import url("http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,700italic");
#weekNav a {
    text-decoration: underline;
}
.error{
    border: 2px solid red;
}
.hide-details{
    display: none;
}
.fixed-table-loading{
    display: none;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 4px !important;
}
#entry-table{
    /*width: 60%;*/
}
.gly-selector{
    padding-left: 5px;
}
.logo-desktop{
    height: 30px;
    width: 30px;
    margin: 0 10px 0 10px;
}
.logo-mobile{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.resize {
    height: 20%;
}

* {
    text-rendering: optimizeLegibility
}

* span.gc-cs-link {
    color: inherit
}

html.touch * {
    text-rendering: optimizeSpeed
}

.show-class {
    display: none;
    width: 200px;
}

.hide-div {
    display: none;
}

body {
    background-color: #777;
    color: #333;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.8em
}

h1, h2, h3, h4 {
    margin: 0.5em 0;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    font-family: "Ubuntu", sans-serif
}

h1 {
    font-size: 2em;
    font-weight: normal;
    font-style: normal;
    margin-top: 0
}

h2 {
    font-weight: normal;
    font-style: normal;
    font-size: 1.8em
}

h3 {
    font-weight: normal;
    font-style: normal;
    font-size: 1.6em
}

h4 {
    font-size: 1em
}

#pageContent, #login, #footer {
    margin: 0 auto;
    padding: 1em;
    background-color: #fff;
    /*border: 1px solid #000*/
}

#pageContent {
    overflow: hidden
}

#footer {
    margin: 0 auto;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #000
}

a.hover {
    text-decoration: none
}

a.white {
    color: #fff;
    text-decoration: underline
}

.nav li a {
    text-decoration: none
}

abbr {
    border-bottom: 1px dotted #ccc
}

.table-responsive {
    overflow-x: auto;
    margin: 1em 0;
    border: none
}

.img-responsive {
    max-height: 100%
}

.navbar-header {
    position: relative
}

.navbar-toggle {
    z-index: 999
}

#logo {
    margin: 5px 1em;
    padding: 0;
    width: 200px;
}

.icon {
    padding: 5px 1em
}

.icon img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%
}

#site-title {
    display: none
}

.table th {
    font-size: 0.9em
}

.table td {
    font-size: 0.8em
}

td.fieldLabel {
    font-weight: bold
}

.right {
    text-align: right
}

.left {
    text-align: left
}

.center {
    text-align: center
}

.matchup {
    border: 1px solid #000;
    margin: 1em 0
}

.matchup .row {
    margin: 0
}

.matchup .bg-row1 {
    background-color: #555;
    color: #eee
}

.matchup .bg-row2 {
    background-color: #eee;
    color: #000;
    padding: 0 0 35px 0;

}

.matchup .bg-row2 div {
    padding: 0
}

.matchup .bg-row3 {
    background-color: #ccc;
    color: #000;
    height: 28px;
}

.matchup .team {
    font-weight: bold
}

.matchup .your-pick {
    background-color: #369;
    color: #fff;
    padding: 0.5em;
    margin-top: 3%;
}

.matchup-label {
    float: left;
}

.time-label {
    float: right;
}

.versus {
    background: #eee;
    color: #555;
    text-align: center;
    padding: 0 0 1em
}

.versus div {
    display: inline-block;
    height: 0px;
    line-height: 60px;
    padding: 0
}

.matchup input[type="radio"] {
    display: none;
}

.versus .team-logo {
    margin: 0.5em 0;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    position: relative;
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.versus .team-logo label {
    margin: 0
}

.versus .team-logo img {
    display: block;
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.highlight .team-logo {
    box-shadow: 0 0 10px #39ee0b;
    border: 2px solid #39ee0b
}

.tiny {
    font-size: 10px
}

label {
    cursor: pointer
}

input[type=image] {
    border: none
}

.infoFlag {
    cursor: pointer
}

.required {
    color: #c00;
    font-weight: bold
}

#errors {
    margin-top: 10px;
    padding: 6px;
    border: 1px solid #000;
    background-color: #eee;
    color: #c00;
    font-weight: bold;
    line-height: 1.5em
}

#login {
    width: 550px;
    font-size: 0.5em
}

.col-right {
    float: right
}

.bg-primary, .bg-success, .bg-info, .bg-warning, .bg-success, .bg-danger {
    padding: 1em;
    margin: 1em 0
}

.bg-primary a, .bg-success a, .bg-info a, .bg-warning a, .bg-success a, .bg-danger a {
    text-decoration: none
}

.bg-primary a:hover, .bg-success a:hover, .bg-info a:hover, .bg-warning a:hover, .bg-success a:hover, .bg-danger a:hover {
    text-decoration: underline
}

.navbar3 {
    margin: 1em 0
}

.responseError {
    font-size: 12px;
    padding: 15px;
    border: 2px solid #F00;
    background-color: #F1F1F1;
    width: 360px
}

.responseOk {
    line-height: 18px;
    font-size: 12px;
    padding: 15px;
    border: 1px solid #999;
    background-color: #F1F1F1
}

.winner {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 4px 4px;
    vertical-align: bottom;
}

.loser {
    background-color:#f2dede;
    color: #a94442;
    padding: 4px 4px;
    vertical-align: bottom;
}

div.fieldLoaded, input.fieldLoaded {
    background-color: #f0e0d0;
    border: 1px solid #a06020;
    padding: 2px 1px
}

div.fieldLoaded {
    padding: 0
}

#warnings {
    background: #eee;
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 10px;
    color: #c00;
    font-weight: bold
}

#donate {
    margin: 0 auto;
    padding: 10px 0;
    text-align: center
}

.countdown {
    width: 100%
}

.countdown .countdown_row {
    display: block;
    text-align: center
}

.countdown .countdown_section {
    display: inline-block;
    float: none;
    padding: 0.25em;
    font-size: 0.9em
}

.countdown .countdown_descr {
    font-weight: bold
}

.label-for-check {
    height: 0;

}

.check-with-label:checked + .label-for-check {

    border: 2px solid #036
}

.back2top, .skip2content {
    display: none
}

@media only screen and (max-width: 991px) {
    .nav .text {
        display: none
    }
}

@media only screen and (max-width: 767px) {
    .nav .text {
        display: inline
    }

    #site-title {
        position: absolute;
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        padding-right: 0;
        padding-left: 0
    }

    .back2top {
        display: block;
        margin: 1em 0;
        text-align: right
    }

    .skip2content {
        display: block
    }
}

@media only screen and (max-width: 599px) {
    .matchup {
        font-size: 0.8em
    }

    .versus div {
        height: 100px;
        line-height: 100px
    }

    .versus .team-logo {
        width: 100px;
        height: 100px
    }
}

@media only screen and (max-width: 399px) {
    .versus div {
        height: 75px;
        line-height: 75px
    }

    .versus .team-logo {
        width: 75px;
        height: 75px
    }
}

@media only print {
    .navbar3, .col-right, #comments, #footer, .noprint {
        display: none
    }

    a[href]:after {
        content: ''
    }

    .container, #pageContent {
        border: none;
        padding: 0
    }

    .table tr {
        border: 1px solid #ccc
    }

    .table th, .table td {
        font-size: 7pt
    }

    .matchup {
        page-break-inside: avoid;
        margin: 0.25em;
        width: 42%;
        display: inline-block
    }

    .matchup .bg-row1 {
        padding: 0;
    }

    .matchup .team, .matchup .your-pick {
        font-size: 0.6em
    }

    .matchup .record, .matchup .streak {
        display: none
    }

    .versus .team-logo {
        width: 50px;
        height: 50px
    }

    .versus div {
        height: 44px;
        line-height: 64px
    }
}

.navbar-default {
    /*background-color: black;*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    /*background-color: #2c3e50;*/
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 28px;
}

.bg-warning {
    background-color: #eee;
}

.bg-success {
    background-color: cadetblue;
}

.points {
    width: 20%;
    margin-left: 40%;
}

.pts {
    margin-right: 5px;
}

.right-matchup {
    margin-left: 20px;
}

.font-change {
    color: black;
}

.right-matchup2 {
    margin-left: 3px;
}

.logo-right {
    width: 22px;
    display: inline-block;
    margin: -5px 0 0 3px
}

.logo-right2 {
    width: 22px;
    display: inline-block;
    margin: -5px 0 0 10px
}

.winner-color {
    color: green;
}

.loser-color {
    color: #d91b1b;
}

.vs {
    margin: 0 -4px 0 3px;
}

#sortable li:hover {
    cursor: move;
}

#sticky.stick {
    width: 350px;
    position: fixed;
    top: 0;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 95%;
}

#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.2em;
}

#sortable li .ui-icon {
    position: absolute;
    display: inline-block;
}

.style_li {
    height: 1.5em;
    line-height: 1.0em;
}
.style_li_border{
    box-shadow: 0 0 10px #39ee0b;
    border: 2px solid #39ee0b;
}
.ui-state-highlight{
    box-shadow: 0 0 10px #39ee0b;
    border: 2px solid #39ee0b;
}

.style_li_mobile {

}

.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}

/*# sourceMappingURL=all.css.map */
.status-image {
    position: relative;
    bottom: 2px;
}

#comments legend {
    margin-bottom: 0 !important;
}

.alert-success-update {
    display: none;
    width: 125px;
    padding: 0px;
    margin: 0px 0px 0px 47px;
    border: 1px solid transparent;
    border-radius: 4px;
}