@import 'bourbon/bourbon';
//@import 'reset';

@import url('http://fonts.googleapis.com/css?family=Ubuntu');
//@import url('http://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic');
@import url('http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,700italic');

$font-ubuntu: 'Ubuntu', sans-serif;
$font-fira-sans: 'Fira Sans', sans-serif;
$font-marvel: 'Marvel', sans-serif;
$font-titillium-web: 'Titillium Web', sans-serif;

* {
	/* optimize text for legibility */
	text-rendering: optimizeLegibility;

	/* prevents google voice plugin from overwriting color */
	span.gc-cs-link {
		color: inherit;
	}
}
/* optimize text for speed on mobile devices */
html.touch * { text-rendering: optimizeSpeed; }

body {
	background-color: #777;
	color: #333;
	font-family: $font-titillium-web;
	font-size: 1.8em;
}

h1,
h2,
h3,
h4 {
	margin: 0.5em 0;
	line-height: 1.3em;
	/* font smoothing hacks - only use for headings */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: always;
	font-family: $font-ubuntu;
}
h1 {
	font-size: 2em;
	font-weight: normal;
	font-style: normal;
	//color: $color-primary;
	margin-top: 0;
}
h2 {
	font-weight: normal;
	font-style: normal;
	font-size: 1.8em;
	//color: $color-alt;
}
h3 {
	font-weight: normal;
	font-style: normal;
	font-size: 1.6em;
}
h4 { font-size: 1em; }

#pageContent,
#login,
#footer {
	margin: 0 auto;
	padding: 1em;
	background-color: #fff;
	border: 1px solid #000;
}
#pageContent {
	overflow: hidden;
}
#footer {
	margin: 0 auto;
	padding: 1em;
	background-color: #fff;
	border: 1px solid #000;
}

a {
	color: #044da6;
	text-decoration: underline;
	&.hover {
		text-decoration: none;
	}
	&.white {
		color: #fff;
		text-decoration: underline;
	}
}

.nav li a {
	text-decoration: none;
}

abbr {
	border-bottom: 1px dotted #ccc;
}

.table-responsive {
    overflow-x: auto;
    margin: 1em 0;
    border: none;
}

.img-responsive {
	max-height: 100%;
}

.navbar-header {
	position: relative;
}
.navbar-toggle {
	z-index: 999;
}

#logo {
	margin: 5px 1em;
	padding: 0;
	width: 200px;
}
.icon {
	padding: 5px 1em;
	img {
		display: inline-block;
		max-width: 100%;
		max-height: 100%;
	}
}

#site-title {
	display: none;
}

.table {
	th {
		font-size: 0.9em;
	}
	td {
		font-size: 0.8em;
	}
}
td.fieldLabel {
	font-weight: bold;
}

.right {
	text-align: right;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}

.matchup {
	border: 1px solid #000;
	margin: 1em 0;
	.row {
		margin: 0;
	}
	.bg-row1 {
		background-color: #555;
		color: #eee;
	}
	.bg-row2 {
		background-color: #eee;
		color: #000;
		padding: 0 0 1em 0;
		div { padding: 0; }
	}
	.bg-row3 {
		background-color: #ccc;
		color: #000;
	}
	div {
		//padding: 0.25em;
	}
	.team {
		font-weight: bold;
	}
	.your-pick {
		background-color: #369;
		color: #fff;
		padding: 0.5em;

	}
}
.versus {
	background: #eee;
	color: #555;
	text-align: center;
	padding: 0 0 1em;
	div {
		display: inline-block;
		height: 150px;
		line-height: 150px;
		padding: 0;
	}
	.team-logo {
		margin: 0.5em 0;
		width: 150px;
		height: 150px;
		border: 1px solid #ccc;
		position: relative;
		background: #fff;
		@include border-top-radius(5px);
		@include border-bottom-radius(5px);
		@include border-left-radius(5px);
		@include border-right-radius(5px);
		label {
			margin: 0;
		}
		img {
			display: block;
			max-width: 90%;
			max-height: 90%;
			position: absolute;
			top: 50%;
			left: 50%;
			//transform: translate(-50%, -50%);
			@include transform(translate(-50%, -50%));
		}
	}
}

.highlight .team-logo {
	box-shadow: 0 0 10px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

.tiny {
	font-size: 10px;
}

label {
	cursor: pointer;
}

input[type=image] {
	border: none;
}

.infoFlag {
	cursor: pointer;
}

.required {
	color: #c00;
	font-weight: bold;
}

#errors {
	margin-top: 10px;
	padding: 6px;
	border: 1px solid #000;
	background-color: #eee;
	color: #c00;
	font-weight: bold;
	line-height: 1.5em;
}

#login {
	width: 550px;
	font-size: 0.5em;
}

.col-right {
	float: right;
}

/*.boxRight {
	background-color: #eee;
	font-size: 0.9em;
	border: 1px solid #ccc;
	padding: 0.25em;
	margin: 1em 0;
}*/

.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-success,
.bg-danger {
	padding: 1em;
	margin: 1em 0;
	a {
		color: #eaeaea;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.navbar3 {
	margin: 1em 0;
}
.responseError {
	font-size: 12px;
	padding: 15px;
	border: 2px solid #F00;
	background-color: #F1F1F1;
	width: 360px;
}
.responseOk {
	line-height: 18px;
	font-size: 12px;
	padding: 15px;
	border: 1px solid #999;
	background-color: #F1F1F1;
}

.winner {
	border: 1px solid #aaa;
	padding: 0 2px;
}

div.fieldLoaded,
input.fieldLoaded {
	background-color: #f0e0d0;
	border: 1px solid #a06020;
	padding: 2px 1px;
}

div.fieldLoaded {
	padding: 0;
}

#warnings {
	background: #eee;
	border: 1px solid #000;
	margin-bottom: 10px;
	padding: 10px;
	color: #c00;
	font-weight: bold;
}

#donate {
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
}

.countdown {
	width: 100%;
	.countdown_row {
		display: block;
		text-align: center;
	}
	.countdown_section {
		display: inline-block;
		float: none;
		padding: 0.25em;
		font-size: 0.9em;
	}
	.countdown_descr {
		font-weight: bold;
	}
}

.check-with-label:checked + .label-for-check {
	border: 2px solid #036;
}

.back2top,
.skip2content {
	display: none;
}

/* BEGIN MEDIA QUERIES*/
@media only screen and (max-width: 991px) {
	.nav .text {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.nav .text {
		display: inline;
	}
	#site-title {
		position: absolute;
		display: block;
		float: none;
		width: 100%;
		text-align: center;
		padding-right: 0;
		padding-left: 0;
	}
	.back2top {
		display: block;
		margin: 1em 0;
		text-align: right;
	}
	.skip2content {
		display: block;
	}
}
@media only screen and (max-width: 599px) {
	.matchup {
		font-size: 0.8em;
	}
	.versus {
		div {
			height: 100px;
			line-height: 100px;
		}
		.team-logo {
			width: 100px;
			height: 100px;
		}
	}
}
@media only screen and (max-width: 399px) {
	.versus {
		div {
			height: 75px;
			line-height: 75px;
		}
		.team-logo {
			width: 75px;
			height: 75px;
		}
	}
}
@media only print {
	.navbar3,
	.col-right,
	#comments,
	#footer,
	.noprint {
		display: none;
	}
	a[href]:after {
		content: '';
	}
	.container,
	#pageContent {
		border: none;
		padding: 0;
	}
	.table {
		tr {
			border: 1px solid #ccc;
		}
		th, td {
			font-size: 7pt;
		}
	}
	.matchup {
		page-break-inside: avoid;
		margin: 0.25em;
		width: 42%;
		display: inline-block;
		.bg-row1,
		.bg-row2 {
			padding: 0;
			//div { padding: 0; }
		}
		.team,
		.your-pick {
			font-size: 0.6em;
		}
		.record,
		.streak {
			display: none;
		}
	}
	.versus {
		.team-logo {
			width: 50px;
			height: 50px;
		}
		div {
			height: 44px;
			line-height: 64px;
		}
	}
}